* {
  box-sizing: border-box;
}

#tasks {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.col-tasks {
  width: 200px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  background-color: orangered;
}

.item-task {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  cursor: grabbing;
  position: relative;
  background-color: green;
}

.item-task:hover > .del-task {
  display: block;
}

.item-task:last-child {
  margin-bottom: 0;
}

.del-task {
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  position: absolute;
  cursor: pointer;
  text-align: center;
}

.item-tasks {
  min-height: 15px;
}

.dragged {
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background-color: blue;
  cursor: grabbing;
}

.add-task,
.input-task {
  margin-top: 10px;
  padding: 5px 0;
}

.button {
  cursor: pointer;
}
.hidden {
  display: none;
}
